@media (max-width:1619px){
	/* Main Menu Area css
	============================================================================================ */

	/* End Main Menu Area css
	============================================================================================ */
	.testimonials_area .owl-prev, .testimonials_area .owl-next {
		right: 15px;
	}
}
@media (max-width:1300px){
	.testimonials_area .owl-prev, .testimonials_area .owl-next {
		right: auto;
		left: 50%;
		transform: translateX(-50%);
		bottom: 25px;
		top: auto;
	}
	.testimonials_area .owl-prev{
		transform: rotate(90deg);
	}
	.testimonials_area .owl-next{
		transform: rotate(90deg);
		margin-left: -40px;
	}
}
@media (max-width:1199px){
	.area-padding {
		padding: 80px 0;
	}
	.area-heading {
		margin-bottom: 50px;
    }
	/* End Element Area css
	============================================================================================ */

	/* Service Area css
	============================================================================================ */

	.service-area .single-service {
		margin-bottom: 30px;
	}

	/* End service Area css
	============================================================================================ */
	

}

@media (max-width:991px){
	/* Main Menu Area css
	============================================================================================ */
	
	/* End Main Menu Area css
	============================================================================================ */
	/* Blog page Area css
	============================================================================================ */
	.categories_post img{
		width: 100%;
	}
	.categories_post {
		max-width: 360px;
		margin: 0 auto;
	}
	.blog_categorie_area .col-lg-4{
		margin-top: 30px;
	}
	.blog_area{
		padding-bottom: 80px;
	}
	.single-post-area .blog_right_sidebar{
		margin-top: 30px;
	}
	.image-box {
		text-align: center;
		margin-bottom: 30px;
	}
	/* Contact Page Area css
	============================================================================================ */
	.contact_info{
		margin-bottom: 50px;
	}
	/* End Contact page Area css
	============================================================================================ */
	
	/* Footer Area css
	============================================================================================ */

	/* End End Footer Area css
	============================================================================================ */
	.single_portfolio .short_info {
		width: 300px;
	}
	.area-padding {
		padding: 80px 0;
	}
	.area-padding-top{
		padding-top: 80px;
	}
	.area-padding-bottom{
		padding-bottom: 80px;
	}
	.number-content h4 br {
		display: none;
	}
}



@media (max-width:767px){
	/* Blog Page Area css
	============================================================================================ */
	.blog_banner .banner_inner .blog_b_text h2 {
		font-size: 40px;
		line-height: 50px;
	}
	.blog_info.text-right{
		text-align: left !important;
		margin-bottom: 10px;
	}
	/* End Blog Page Area css
	============================================================================================ */
	
	/* Footer Area css
	============================================================================================ */

	/* End End Footer Area css
	============================================================================================ */
	.wd55 {
		width: 100%;
	}
	.courses_inner .courses_item img{
		width: 100%;
	}
	.wd44 {
		width: 100%;
	}
	.course_item img{
		width: 100%;
	}
	.number-content {
		padding-top: 50px;
	}
	.single-blog {
		margin-bottom: 50px;
	}
	.single-footer-widget {
		margin-bottom: 50px;
	}
	.hero-banner {
		min-height: 250px;
	}

}
@media (max-width:600px){
	.builder_inner .builder_item {
		flex: 0 0 100%;
		max-width: 100%;
	}
}
@media (max-width:575px){
	.top_menu {
		display: none;
	}

	/* End Home Banner Area css
	============================================================================================ */
	.p_120 {
		padding-top: 70px;
		padding-bottom: 70px;
	}
	.main_title h2 {
		font-size: 25px;
	}
	/* Elements Area css
	============================================================================================ */
	.sample-text-area {
		padding: 70px 0 70px 0;
	}
	.generic-blockquote {
		padding: 30px 15px 30px 30px;
	}
	/* End Elements Area css
	============================================================================================ */
	
	/* Blog Page Area css
	============================================================================================ */
	.blog_details h2 {
		font-size: 20px;
		line-height: 30px;
	}
	.blog_banner .banner_inner .blog_b_text h2 {
		font-size: 28px;
		line-height: 38px;
	}
	/* End Blog Page Area css
	============================================================================================ */
	/* Footer Area css
	============================================================================================ */
	
	/* End End Footer Area css
	============================================================================================ */
	.pad_top {
		padding-top: 70px;
	}

	.portfolio_area .filters ul li {
		margin-right: 17px;
		margin-bottom: 10px;
	}
	.single-testimonial.item.d-flex.flex-row {
		display: inline-block !important;
	}
	.single-testimonial .thumb {
		height: 95px;
		width: 95px;
		margin-bottom: 30px;
	}
	.testimonial-area .owl-dots {
		width: 180px;
	}
	.single_portfolio .short_info {
		left: 10px;
		width: 290px;
	}
	.area-heading h4 {
		font-size: 30px;
		line-height: 40px;
	}
	.faq_area .card .btn-link{
		font-size: 11px;
	}
	.faq_area .card .btn-link.collapsed{
		font-size: 11px;
	}

}

@media (max-width:480px){
	
	/* Blog Page Area css
	============================================================================================ */
	.comments-area .thumb {
		margin-right: 10px;
	}
	
	/* End Blog Page Area css
	============================================================================================ */
	.video_area .popup-youtube img {
		width: 15%;
	}
	.course_details_inner .nav.nav-tabs li {
		margin-right: 15px;
	}
}