.imgContainer {
    position: relative;
    width:100%;
}
  
.imgTextDiv {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width:100%;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    margin:0px;
  }

.imgContainer:hover .descriptionImg {
    opacity: 0.1;
  }
  
.imgContainer:hover .imgTitle {
    transform: translate(-50%, -150%);
    -ms-transform: translate(-50%, -150%);
    opacity: 1;
  }

.imgContainer:hover .imgTextDiv {
    transform: translate(-50%, -20%);
    -ms-transform: translate(-50%, -20%);
    opacity: 1;
  }

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .descriptionImg {
      opacity: 1;
      display: block;
      width: 100%;
      transition: .5s ease;
      backface-visibility: hidden;
      background-repeat:no-repeat;
      background-position:center;
      background-size:cover;
      height:100%;
      transition:.5s ease;
      backface-visibility: hidden;
      height:50vw;
    }

    .imgTitle {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -350%);
      -ms-transform: translate(-50%, -350%);
      text-align: center;
      font-size: 32px;
      margin:0px;
      font-weight: 500;
    }

    .imgText {
      text-align: center;
      font-size: 21px;
      font-weight: 300;
      color: #7f7f7f;
      margin: 3px;
    }
}

@media only screen and (min-width: 768px) {
    /* For destops */
    .descriptionImg {
      opacity: 1;
      display: block;
      width: 100%;
      height: 100%;
      transition: .5s ease;
      backface-visibility: hidden;
      background-repeat:no-repeat;
      background-position:center;
      background-size:cover;
      transition:.5s ease;
      backface-visibility: hidden;
    }

    .imgTitle {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -350%);
      -ms-transform: translate(-50%, -350%);
      text-align: center;
      font-size: 40px;
      margin:0px;
      font-weight: 500;
    }

    .imgText {
      text-align: center;
      font-size: 30px;
      font-weight: 300;
      color: #7f7f7f;
      margin: 3px;
    }
  }